
#bodyContent a[href^="/wiki"] {
  border-bottom: 1px dotted #0645ad;
}

.wikiPreviewPopup {
  display: none;
  position: absolute;
  max-width: 480px;
  margin-top: 1em;
  padding: 1em;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  background: #fcfcfc;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #111;
  font-size: 13px;
  /*font-style: italic;*/
  line-height: 1.7;
}

.wikiPreviewPopup.visible {
  display: block;
}

.wikiPreviewPopup__title {
  margin-bottom: 3px;
  font-family: "Linux Libertine",Georgia,Times,serif;
  font-weight: bold;
  font-size: 14px;
}
